<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <h1 class="logo">YOUMOVE</h1>
        <ul class="right">
          <li>
            <% if (user) { %>
            <a href="/logout">LOG OUT</a>
            <% } else { %>
            <a href="/auth/google">LOGIN WITH GOOGLE</a>
            <% } %>
          </li>
        </ul>
      </nav>
    </div>
    <main class="index">
      <div class="index-div">
        <p class="index-p first-paragraph">
          Making workout planning a breeze as YOUMOVE.
        </p>
        <p class="index-p">
          Whether you're at the gym or wanting to plan out your next workout,
          YOUMOVE does all of the heavy lifting for you when it comes to keeping
          track of your exercises.
        </p>
      </div>
    </main>
  </body>
</html>
