<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <h1 class="logo">YOUMOVE</h1>
        <ul class="right">
          <li>
            <% if (user) { %>
            <a href="/logout">Log Out</a>
            <% } else { %>
            <a href="/auth/google">Login with Google</a>
            <% } %>
          </li>
        </ul>
      </nav>
    </div>
    <main class="index">
      <div class="index-div">
        <p class="index-p first-paragraph">Welcome to <%= title %>!</p>

        <p class="index-p">
          Have you ever wanted a place to record your workouts that allowed you
          to record your sets, reps, weights, and any notes you may want to take
          down?
        </p>
        <p class="index-p">
          Look no further - YOUMOVE has everything you need, allowing you to
          enjoy your workout, while we do the heavy lifting for you.
        </p>
      </div>
    </main>
  </body>
</html>
