body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  /* background-color: #6d738e; */
  height: 100%;
}

.index {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 1000px;
  width: 100%;
  background-color: #b589ab;
  background-image: url("/images/yogastretch.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.index-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  padding: 25px;
  background-color: white;
  height: 25%;
  width: 50%;
  margin: 0px;
  text-align: center;
  background-color: #b9a1a9;
  border: solid 2px black;
}

.index-p {
  margin: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
  font-size: 25px;
}

.first-paragraph {
  font-size: 30px;
  font-weight: 500;
}

.navbar-fixed {
  background-color: #ecd5e6;
  height: 100px;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  padding-top: 10px;
  width: 95%;
}

.logo {
  font-size: 25px;
  color: #b589ab;
}

li {
  list-style: none;
  font-size: 20px;
}

a {
  font-size: 20px;
  text-decoration: none;
  color: #b589ab;
}

a:hover {
  color: white;
}

.user-homepage {
  display: flex;
  flex-direction: row;
  height: 1000px;
  width: 100%;
  background-image: url("/images/workout1.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.workouts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.workouts-center-div {
  height: 70%;
  width: 70%;
  border-radius: 10px;
  padding: 10px;
}

table {
  font-size: 20px;
  color: #ecd5e6;
  border-collapse: collapse;
  border-spacing: 0 15px;
  text-transform: uppercase;
}

table td {
  background-color: #5b4c64;
  padding: 15px 30px;
}

.spacer td {
  background: transparent;
  padding: 5px 30px;
}

.left-corner-brdr {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.right-corner-brdr {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.workout-anchor {
  font-size: 25px;
  color: #ecd5e6;
}

.workout-anchor:hover {
  color: #b589ab;
}

.delete-btn {
  font-size: 20px;
  height: 35px;
  width: 125px;
  border-radius: 10px;
  background-color: #ecd5e6;
  color: #757a92;
  border: 2px solid #b589ab;
}

.delete-btn:hover {
  color: white;
  border: 2px solid #5b4c64;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  height: 60px;
  width: 40%;
  background-color: #b589ab;
  border-radius: 10px;
  color: #ecd5e6;
  border: 2px solid #5b4c64;
}

.new-workout-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.create-workout-center-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 58%;
  width: 50%;
  background-color: rgb(185, 161, 169, 0.9);
  border-radius: 25px;
  padding: 20px;
  border: 2px solid #5b4c64;
}

.workout-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  height: 60px;
  width: 60%;
  background-color: #b589ab;
  opacity: 1;
  border-radius: 10px;
  color: #ecd5e6;
  border: 1.5px solid #5b4c64;
}

.form {
  display: flex;
  flex-direction: column;
  opacity: 1;
}

label {
  font-size: 25px;
  margin: 10px;
  text-align: center;
  font-weight: 600;
  color: #5b4c64;
}

input {
  width: 375px;
  padding: 10px 0px;
  margin: 8px 0;
  text-align: center;
  font-size: 18px;
  resize: none;
  background-color: white;
  color: #5b4c64;
  border: 2px solid #5b4c64;
  text-transform: uppercase;
}

.date {
  font-size: 15px;
}

.create-workout-btn {
  font-size: 22px;
  width: 50%;
  height: 45px;
  margin-top: 10px;
  align-self: center;
  border-radius: 10px;
  background-color: #5b4c64;
  color: #ecd5e6;
  border: 0px;
}

button:hover {
  background-color: #b589ab;
  color: white;
  border: 2px solid #5b4c64;
}

.workout-show-page-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 1000px;
  width: 100%;
  background-image: url(/images/dbbw.jpg);
  opacity: 0.8;
  background-color: #5b4c64;
  background-size: cover;
}

.workout-show-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding: 50px;
  background-color: rgb(185, 161, 169, 0.9);
  border-radius: 10px;
  border: 2px solid #5b4c64;
}

.workout-show-headers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 50px;
  height: 60px;
  width: 40%;
  background-color: #b589ab;
  border-radius: 10px;
  color: #ecd5e6;
  border: 2px solid #5b4c64;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.h1-show {
  align-self: center;
  font-size: 25px;
}

.date-header {
  font-size: 15px;
  align-self: center;
}

.new-exercise-btn {
  align-self: center;
  font-size: 22px;
  width: 25%;
  height: 45px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: #5b4c64;
  color: #ecd5e6;
  border: 0px;
}
