<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <h1 class="logo">YOUMOVE</h1>
        <a href="/users" class="">WORKOUTS</a>
        <ul class="right"></ul>
      </nav>
    </div>
    <div class="new-exercise-container">
      <div class="exercise-form">
        <h2 class="header">EDIT <%= exercise.name %></h2>
        <form
          class="form exercise-new"
          action="/exercise/workout/<%=eid%>/<%= id %>/exercise"
          method="POST"
        >
          <label>EXERCISE </label> <input type="text" name="name" required />
          <label>SETS </label><input type="number" name="sets" required />
          <label>REPS </label><input type="number" name="reps" required />
          <label>WEIGHTS (LB) </label><input type="number" name="weights" />
          <label>ADDITIONAL NOTES </label><input type="text" name="notes" />

          <button type="submit" class="create-workout-btn update-btn">
            UPDATE EXERCISE
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
